<div id="coffin">
    <div id="titled">
        <h1>Prueba</h1>
    </div>
    <div id="buttons">
        <button routerLink="/add-book">Añadir un libro</button>
        <button>Iniciar sesión</button>
    </div>
    <div id="corpse">
        <app-book-card 
            ngClass="corpse"
            [books]="books"
            (deleteBook)="deleteBook($event)"
        ></app-book-card>
    </div>
    <button (click)="subscribeToShared()">Suscribirse</button>
    <button (click)="pruebaAdd()">probar adición</button>
</div>