@use '../../../shared/styles/vars.scss' as vars;
@use '../../../shared/styles/mixins.scss' as *;

#corpse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.book{
    margin: 7px;
    padding: 1.2%;
    background-color: vars.$light_tpcy;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: no-wrap;
    align-content: space-between;
    width: 20%;
    /*box-shadow: 13px 17px 30px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 13px 17px 30px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 17px 30px -3px rgba(0,0,0,0.75);*/
    
    box-shadow: -3px 7px 100px 52px vars.$dark_tcpy inset;
    -webkit-box-shadow: -3px 7px 100px 52px vars.$dark_tcpy inset;
    -moz-box-shadow: -3px 7px 100px 52px vars.$dark_tcpy inset;

    .info{
        padding: 10px;
        border-radius: 7px;
        list-style: none;
        background-color: vars.$light_tpcy;
    }
    h1{
        margin: 2px 1px 4px 1px;
    }
    button{
        @include buttons;
        padding: 11px 17px 11px 17px !important;
    }
    a{text-decoration: none;}
    &:hover{
        background-color: rgba(255,255,255,0.1);
    }
}